h1 {
    color: rgb(11, 61, 1);
}
.indexh1 {
    font-family: 'Montserrat', sans-serif;
}
.top {
    background-color: rgb(117, 158, 117);
    text-align: center;
    border: 2px solid rgb(14, 32, 2);
}
body {
    background-color:rgb(223, 216, 203);
}
.container {
    display: inline-flex;
    list-style: none;
}
.flexitem {
    box-sizing: border-box;
    padding: 5px;
}

.contain {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 300px);
}

.picitem {
    grid-column-start: 3;
    grid-column-end: 5;
}

.item {
    grid-column-start: 1;
    grid-column-end: 3;
}